<p *ngIf="mostrarMensaje">{{ mensaje }}</p>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline">
        <fieldset class="form-group col-sm-12"></fieldset>
        <fieldset class="form-group col-sm-1">
          <a class="btn btn-primary" [routerLink]="['add']">+</a>
        </fieldset>
      </form>
      <table class="table table-striped">
        <thead>
          <tr class="row">
            <th>tipocpu</th>
            <th>velocidadcpu</th>
            <th>capacidadram</th>
            <th>capaciddaddd</th>
            <th>velocidadtarjetagrafica</th>
            <th>memoriatarjetagrafica</th>
            <th>precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let configuracion of Configuraciones" class="row">
            <td>
              <i>{{ configuracion.tipocpu }}</i>
            </td>
            <td>
              <i>{{ configuracion.velocidadcpu }}</i>
            </td>
            <td>
              <i>{{ configuracion.capacidadram }}</i>
            </td>
            <td>
              <i>{{ configuracion.capacidaddd }}</i>
            </td>
            <td>
              <i>{{ configuracion.velocidadtarjetagrafica }}</i>
            </td>
            <td>
                <i>{{ configuracion.memoriatarjetagrafica }}</i>
            </td>
            <td>
                <i>{{ configuracion.precio }}</i>
            </td>
            <td>
              <a
                class="btn btn-info"
                [routerLink]="['/configuraciones', configuracion.idconfiguracion, 'editar']"
                >Editar</a
              >
            </td>
            <td><a class="btn btn-danger" (click)="borrar(configuracion.idconfiguracion)">-</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
