<body>
  <h1>Bienvenido</h1>
  <form (ngSubmit)="onSubmit()" #confForm="ngForm">
    <fieldset class="form-group">
    <h2>Rellene configuracion</h2>
    Id configuracion:
    <input type="number" class="form-control" [disabled]="idconfiguracion ? true : false" [required]="idconfiguracion ? false : true"
 [(ngModel)]="configuracion.idconfiguracion" name="idconfiguracion"><br /><br />
    velocidad CPU: 
    <input type="number" class="form-control" [required]="idconfiguracion ? false : true"
 [(ngModel)]="configuracion.velocidadcpu" name="velocidadcpu"><br /><br />
    Capacidad RAM: 
    <input type="number" class="form-control" [required]="idconfiguracion ? false : true"
 [(ngModel)]="configuracion.capacidadram" name="capacidadram"><br /><br />
    Capadidad DD: 
    <input type="number" class="form-control" required
 [(ngModel)]="configuracion.capacidaddd" name="capacidaddd"><br /><br />
    Memoria tarjeta gráfica: 
    <input type="number" class="form-control" [required]="idconfiguracion ? false : true"
 [(ngModel)]="configuracion.velocidadtarjetagrafica" name="veltarjeta"><br /><br />
    Velocidad tarjeta gráfica: 
    <input type="number" class="form-control" [required]="idconfiguracion ? false : true"
 [(ngModel)]="configuracion.memoriatarjetagrafica" name="memoriatarjetagrafica"><br /><br />
    Precio:
   <input type="number" step="0.01" class="form-control" [required]="idconfiguracion ? false : true"
 [(ngModel)]="configuracion.precio" name="precio" (ngModelChange)="estadoIntermedio()"><br /><br />
    <h2>Tipo CPU</h2>
    <input type="radio" [(ngModel)]="configuracion.tipocpu" name="tipocpu" value="AMD" />AMD<br />
    <input type="radio" [(ngModel)]="configuracion.tipocpu" name="tipocpu" value="INTEL" checked />Intel<br />
  </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-offset-2 col-sm-12">
      <button type="submit" class="btn btn-primary" [disabled]="!confForm.form.valid">Submit</button>
      </div>
    </fieldset>
    <input type="reset" value="Vaciar" />
    <input type="submit" value="Cerrar Sesion" name="cerrarSesion" (click)="cerrarSesion()" [routerLink]="['login']"/><br /><br />
  </form> 
</body>
